{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_navigation_description %}
    {{ parent() }}
    {% if page.product.extension('bundles').elements|length > 0 %}
        <li class="nav-item">
            <a class="nav-link" id="bundle-tab" data-toggle="tab" data-offcanvas-tabs="true" href="#bundle-tab-pane" role="tab" aria-controls="bundle-tab-pane" aria-selected="false">
                <span>{{ 'swag-bundle.detail.tabText'|trans }}</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_product_detail_tabs_content_description %}
    {{ parent() }}
    {% if page.product.extension('bundles').elements|length > 0 %}
        <div class="tab-pane fade"
             id="bundle-tab-pane"
             role="tabpanel"
             aria-labelledby="bundle-tab">

            <div class="container bundle-container">
                {% for bundle in page.product.extension('bundles').elements %}
                    <h2>{{ bundle.name }}</h2>

                    <div class="row">
                        {% for product in bundle.products.elements %}
                            <div class="col-4">
                                {% sw_include '@Storefront/storefront/component/product/card/box-standard.html.twig' with {'product': product} %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row justify-content-md-center">
                        <form action="{{ path('frontend.checkout.line-item.add') }}"
                            method="post"
                            class="buy-widget js-add-to-cart"
                            data-form-csrf-handler="true"
                            data-add-to-cart="true">
                            <div class="form-row buy-widget-container">
                                <button class="btn btn-primary btn-block buy-widget-submit" style="margin-top: 10px;">
                                    {{ 'swag-bundle.detail.buyButtonText'|trans({ '%bundleDiscount%': bundle.discountType == 'absolute' ? bundle.discount|currency : (bundle.discount ~ '%') }) }}
                                </button>

                                <input type="hidden" name="lineItems[{{ bundle.id }}][id]" value="{{ bundle.id }}">
                                <input type="hidden" name="lineItems[{{ bundle.id }}][type]" value="swagbundle">
                                <input type="hidden" name="lineItems[{{ bundle.id }}][quantity]" value="1">
                                <input type="hidden" name="lineItems[{{ bundle.id }}][referencedId]" value="{{ bundle.id }}">
                                <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas"/>

                                {{ sw_csrf('frontend.checkout.line-item.add') }}
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

